/* custom code */

li.page-scroll
{
    list-style-type: none;
}
p
{
    color: #5e5e5e;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
    color: white;
    background-color: #83af9b;
}

.portfolio-modal .modal-content h2,
section h2,
.btn-default
{
    color: #83af9b;
}
.btn-lg:hover
{
    color: #83af9b;
    background-color: white;
}
.btn-lg
{
    border-color: #83af9b;
    background-color: #83af9b;
}
.btn-default:hover,
.navbar-default .navbar-nav > li > a:hover
{
    color: white;
    background-color: #83af9b;
}
.white
{
    color: #fff;
}
.embed-container
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 0;
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 56.25%;
}
.embed-container iframe
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body
{
    overflow-x: hidden;
}
p
{
    font-size: 20px;

    text-align: justify;
}
p.small
{
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active
{
    /*color: #3bdfde;*/
    color: #83af9b;
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;
}
hr.star-light,
hr.star-primary
{
    max-width: 250px;
    margin: 25px auto 30px;
    padding: 0;

    text-align: center;

    border: 0;
    border-top: solid 5px;
}
hr.star-light:after,
hr.star-primary:after
{
    font-family: FontAwesome;
    font-size: 2em;

    position: relative;
    top: -.8em;

    display: inline-block;

    padding: 0 .25em;

    content: '\f1d0';
}
hr.star-light
{
    border-color: #fff;
}
hr.star-light:after
{
    color: #fff;
    background-color: #83af9b;
}
hr.star-primary
{
    border-color: #83af9b;
}
hr.star-primary:after
{
    color: #83af9b;
    background-color: #fff;
}
.img-centered
{
    margin: 0 auto;
}
header
{
    text-align: center;

    color: #fff;
    background: #83af9b;
}
header .container
{
    padding-top: 100px;
    padding-bottom: 50px;
}
header img
{
    display: block;

    margin: 0 auto 20px;
}
header .intro-text .name
{
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;

    display: block;

    text-transform: uppercase;
}
header .intro-text .skills
{
    font-size: 1.25em;
    font-weight: 300;
}
@media(min-width:768px)
{
    header .container
    {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    header .intro-text .name
    {
        font-size: 4.75em;
    }
    header .intro-text .skills
    {
        font-size: 1.75em;
    }
}
@media(min-width:768px)
{
    .navbar-fixed-top
    {
        padding: 25px 0;

        -webkit-transition: padding .3s;
           -moz-transition: padding .3s;
                transition: padding .3s;
    }
    .navbar-fixed-top .navbar-brand
    {
        font-size: 2em;

        -webkit-transition: all .3s;
           -moz-transition: all .3s;
                transition: all .3s;
    }
    .navbar-fixed-top.navbar-shrink
    {
        padding: 10px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand
    {
        font-size: 1.5em;
    }
}
.navbar
{
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;

    text-transform: uppercase;
}
.navbar a:focus
{
    outline: 0;
}
.navbar .navbar-nav
{
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus
{
    outline: 0;
}
.navbar-default,
.navbar-inverse
{
    border: 0;
}
section
{
    padding: 100px 0;
}
section h2
{
    font-size: 3em;

    margin: 0;
}
section.success
{
    color: #fff;
    background: #83af9b;
}
section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active
{
    color: #83af9b;
    outline: 0;
}
@media(max-width:767px)
{
    section
    {
        padding: 75px 0;
    }
    section.first
    {
        padding-top: 75px;
    }
}
#portfolio .portfolio-item
{
    right: 0;

    margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link
{
    position: relative;

    display: block;

    max-width: 400px;
    margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption
{
    position: absolute;

    width: 100%;
    height: 100%;

    -webkit-transition: all ease .5s;
       -moz-transition: all ease .5s;
            transition: all ease .5s;

    opacity: 0;
    background: rgba(131, 175, 155, .9);
}
#portfolio .portfolio-item .portfolio-link .caption:hover
{
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content
{
    font-size: 20px;

    position: absolute;
    top: 50%;

    width: 100%;
    height: 20px;
    margin-top: -12px;

    text-align: center;

    color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i
{
    margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4
{
    margin: 0;
}
#portfolio *
{
    z-index: 2;
}
@media(min-width:767px)
{
    #portfolio .portfolio-item
    {
        margin: 0 0 30px;
    }
}
.btn-outline
{
    font-size: 20px;

    margin-top: 15px;

    transition: all .3s ease-in-out;

    color: #fff;
    border: solid 2px #fff;
    background: 0 0;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active
{
    color: #83af9b;
    border: solid 2px #fff;
    background: #fff;
}
.floating-label-form-group
{
    position: relative;

    margin-bottom: 0;
    padding-bottom: .5em;

    border-bottom: 1px solid #eee;
}
.floating-label-form-group input,
.floating-label-form-group textarea
{
    font-size: 1.5em;

    position: relative;
    z-index: 1;

    padding-right: 0;
    padding-left: 0;

    resize: none;

    border: 0;
    border-radius: 0;
    background: 0 0;
    box-shadow: none!important;
}
.floating-label-form-group label
{
    font-size: .85em;
    line-height: 1.764705882em;

    position: relative;
    z-index: 0;
    top: 2em;

    display: block;

    margin: 0;

    -webkit-transition: top .3s ease, opacity .3s ease;
       -moz-transition: top .3s ease, opacity .3s ease;
        -ms-transition: top .3s ease, opacity .3s ease;
            transition: top .3s ease, opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;

    opacity: 0;
}
.floating-label-form-group::not(:first-child)
{
    padding-left: 14px;

    border-left: 1px solid #eee;
}
.floating-label-form-group-with-value label
{
    top: 0;

    opacity: 1;
}
.floating-label-form-group-with-focus label
{
    color: #83af9b;
}
form .row:first-child .floating-label-form-group
{
    border-top: 1px solid #eee;
}
footer
{
    color: #fff;
}
footer h3
{
    margin-bottom: 30px;
}
footer .footer-above
{
    padding-top: 50px;

    background-color: #83af9b;
}
footer .footer-col
{
    float: none;

    margin: 0 auto;
    margin-bottom: 50px;
}
footer .footer-below
{
    padding: 25px 0;

    background-color: #83af9b;
}
.btn-social
{
    font-size: 20px;
    line-height: 45px;

    display: inline-block;

    width: 50px;
    height: 50px;

    text-align: center;

    border: 2px solid #fff;
    border-radius: 100%;
}
.btn:focus,
.btn:active,
.btn.active
{
    outline: 0;
}
.scroll-top
{
    position: fixed;
    z-index: 1049;
    right: 2%;
    bottom: 2%;

    width: 50px;
    height: 50px;
}
.scroll-top .btn
{
    font-size: 20px;
    line-height: 28px;

    width: 50px;
    height: 50px;

    border-radius: 100%;
}
.scroll-top .btn:focus
{
    outline: 0;
}
.portfolio-modal .modal-content
{
    min-height: 100%;
    padding: 100px 0;

    text-align: center;

    border: 0;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.portfolio-modal .modal-content h2
{
    font-size: 3em;

    margin: 0;
}
.portfolio-modal .modal-content img
{
    margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details
{
    margin: 30px 0;
}
.portfolio-modal .close-modal
{
    position: absolute;
    top: 25px;
    right: 25px;

    width: 75px;
    height: 75px;

    cursor: pointer;

    background-color: transparent;
}
.portfolio-modal .close-modal:hover
{
    opacity: .3;
}
.portfolio-modal .close-modal .lr
{
    z-index: 1051;

    width: 1px;
    height: 75px;
    margin-left: 35px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    background-color: #83af9b;
}
.portfolio-modal .close-modal .lr .rl
{
    z-index: 1052;

    width: 1px;
    height: 75px;

    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);

    background-color: #83af9b;
}
.portfolio-modal .modal-backdrop
{
    display: none;

    opacity: 0;
}
